<li id="comment-<%=comment._id%>">
  <!-- //can only delete if user signed
      in ,comment by user is signed in or post by user is signed in  -->
  <%if((locals.user)&& (post.user.id ==locals.user.id || comment.user.id
  ==locals.user.id)){%>
  <small
    ><a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>"
      >Delete</a
    ></small
  >

  <%}%> <%if(locals.user){%>
  <small
    ><a class="like" href="likes/toggle/?id=<%=comment._id%>&type=Comment"
      >Like <%=comment.likes.length%></a
    ></small
  >
  <%}else{%>

  <small>Like <%=comment.likes.length%></small>
  <%}%>
  <p><%=comment.content%></p>
  <small><%=comment.user.name%></small>
</li>
