<li id="post-<%=post._id%>">
  <!-- check user exist and can only see delete if the user created the post is
    loged in  -->
  <%if(locals.user && post.user.id ==locals.user.id){%>
  <small
    ><a class="delete-post-button" href="/posts/destroy/<%=post.id%>"
      >Delete</a
    ></small
  >

  <%}%> <%if(locals.user){%>
  <small>
    <a class="like" href="likes/toggle/?id=<%=post._id%>&type=Post"
      >Like <%=post.likes.length%>
    </a>
  </small>
  <%}else{%>
  <small> Like <%=post.likes.length%> </small>
  <%}%>
  <p><%=post.content%></p>
  <p><%=post.user.name%></p>
  <div>
    <% if(locals.user){%>
    <form action="/comments/create" method="POST" class="new-comment-form">
      <input
        type="text"
        name="content"
        placeholder="Type your comment here"
        required
      />

      <input type="hidden" name="post" value="<%=post._id%>" />
      <input type="submit" value="Add Comment" />
    </form>
    <%}%>

    <div class="comment-list-container">
      <ul id="post-comments-<%=post._id%>">
        <% for(let comment of post.comments){%>
        <%-include("_comment",{comment:comment})-%> <%}%>
      </ul>
    </div>
  </div>
</li>
