<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feeds-posts">
    <% if(locals.user){%>

    <h4>Posts</h4>
    <form action="/posts/create" method="POST" id="new-post-form">
      <textarea name="content" cols="30" rows="3" required></textarea>
      <input type="submit" value="Post" />
    </form>

    <%}%>

    <div id="post-list-container">
      <ul>
        <!-- pass post to the partial as it not have access on that -->
        <% for(let post of posts){%> <%-include("_post",{post:post})-%> <%}%>
      </ul>
    </div>
  </section>
  <!-- if user login then only show friends -->
  <% if(locals.user){%>
  <div id="devider-1"></div>
  <section id="user-friends">
    <h4>Friends</h4>
    <!-- show friend details -->
    <% for(let friend of friendship){%> <%if(friend.from_user.id
    !=locals.user.id){%>
    <a href="/users/profile/<%=friend.from_user._id%>"
      ><%=friend.from_user.name%></a
    >
    <%}else{%>
    <a href="/users/profile/<%=friend.to_user._id%>"
      ><%=friend.to_user.name%></a
    >
    <%}%>
    <br />
    <%}%>
  </section>
  <%}%>
  <div id="devider-2"></div>
  <section id="user-all">
    <h4>All Users</h4>
    <% for(let user of all_users){%>
    <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
    <br />
    <%}%>
  </section>

  <%-include("_chatbox")-%>
</div>
<script src="/js/home_post.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
