<link rel="stylesheet" href="/css/home.css" />
<h1>Codeial <%= title%></h1>

<% if(locals.user){%>
<section>
  <h4>Posts</h4>
  <form action="/posts/create" method="POST">
    <textarea name="content" cols="30" rows="3" required></textarea>
    <input type="submit" value="Post" />
  </form>
</section>
<%}%>

<div>
  <% for(let post of posts){%>
  <li>
    <!-- check user exist and can only see delete if the user created the post is
    loged in  -->
    <%if(locals.user && post.user.id ==locals.user.id){%>
    <small><a href="/posts/destroy/<%=post.id%>">Delete</a></small>
    <%}%>
    <p><%=post.content%></p>
    <p><%=post.user.name%></p>
    <div>
      <% if(locals.user){%>
      <form action="/comments/create" method="POST">
        <input
          type="text"
          name="content"
          placeholder="Type your comment here"
          required
        />
        <!-- hidden field -->
        <input type="hidden" name="post" value="<%=post._id%>" />
        <input type="submit" value="Add Comment" />
      </form>
      <%}%>

      <div>
        <ul id="post-comments-<%=post._id%>">
          <% for(let comment of post.comments){%>
          <!-- //can only delete if user signed
          in ,comment by user is signed in or post by user is signed in  -->
          <%if(locals.user && (post.user.id ==locals.user.id || comment.post.id
          ==locals.user.id)){%>
          <small><a href="/comments/destroy/<%=comment.id%>">Delete</a></small>
          <%}%>
          <p><%=comment.content%></p>
          <small><%=comment.user.name%></small>
          <%}%>
        </ul>
      </div>
    </div>
  </li>

  <%}%>
</div>
