<h1>welcome to user <%= title %></h1>

<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px" />

<!-- if user matches show the form -->
<%if(user.id==profile_user.id){%>
<!-- for uploading file -->
<form
  action="/users/update/<%=profile_user.id%>"
  method="POST"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="enter your name"
    required
    value="<%=profile_user.name%>"
  />
  <input
    type="email"
    name="email"
    placeholder="enter your email"
    required
    value="<%=profile_user.email%>"
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="update" />
</form>
<!-- else show only the info -->
<%}else {%>
<p><%= profile_user.name%></p>
<p><%= profile_user.email%></p>
<%}%>
